.ingredients {
  text-align: center;
  font-family: "Lato", sans-serif;

  .ingredients-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1rem;

    .toggle-button {
      box-shadow: 0 5px 6px rgba(0,0,0,.4);
      .fa {
        margin-right: .3rem;
      }

      .fa-angle-double-up {
        font-size: 1.2rem;
      }
    }

    h1 {
      font-size: 2rem;
      text-shadow: 0 5px 6px rgba(0,0,0,.4);
    }
  }

  .ingredient-list {

    .ingredient-card {
      min-width: 70%;
      display: flex;
      flex-direction: column;
      margin: 0 auto;

      .ingredient-name {
        margin-bottom: .5rem;
      }

      &:last-child {
        margin-bottom: 3rem;
      }

      .ingredient-info {
        margin: .1rem auto;
      }

      .fa {
        margin: .5rem .3rem 0;
        font-size: 1.3rem;
        color: #FFD700;
      }

      .fa-trash {
        color: #DC143C;
      }
    }
  }
}