.meal-card {
  min-width: 70%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  .meal-name {
    margin-bottom: .5rem;
  }

  &:last-child {
    margin-bottom: 3rem;
  }

  .meal-info {
    margin: .1rem auto;
  }

  .fa {
    margin: .5rem .3rem 0;
    font-size: 1.3rem;
    color: #FFD700;
  }

  .fa-trash {
    color: #DC143C;
  }
}